<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>about page</title>
	{% load static %}
	{% csrf_token %}
	<link href="{% static 'style.css' %}" rel="stylesheet">

<!--Bootstrap-->
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   

	<style>
		body{
			background-color: AntiqueWhite;
		}
		
		h1{
			font-size: 50px;
		}
		h3{
			font-size: 40px;
		}
		p,ul{
			font-size: 20px;
		}
		nav{
		background-color: white;
  		color: black;
  		padding: 15px 25px;
  		text-decoration: none;
  		font-size: 20px;
  		}
	</style>
</head>
<body>

<br>
	<br>

<nav>
  <div class="container">
    <div class="navbar-header"></div>

    <a href="#" style="align-content: left;"><img src='{% static "t1.jpg" %}' height="45" width="180"></a>
    <ul class="nav navbar-nav navbar-right">
			
      	<li class="active"><a href="home">Home</a></li>
      	<li><a href="about">About</a></li>
      	<li class="nav-item dropdown">
      		
      		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Categories</a>
      		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
      			<a class="dropdown-item" href="kitchen">Kitchenware</a><br>
    				<a class="dropdown-item" href="beauty">Beauty Products</a><br>
    				<a class="dropdown-item" href="stationery">Stationery Products</a><br>
    				<a class="dropdown-item" href="homecare">Home Care Products</a><br>
    				<a class="dropdown-item" href="food">Food Products</a><br>
    		<li><a href="show_cust">Loyalty Customers</a></li>
     		<li><a href="offer_pg">Offers</a></li>
      	<li><a href="staff_pg">Staff</a></li>
      	<li><a href="to_order">Place Order</a></li>	<!--<li><a href="show_order">To order table</a></li>-->
      	<li><a href="contact">Contact</a></li>
      	<li><a href="/">Logout</a></li>

    </ul>
  </div>
</nav>

<h1>About Us</h1>
<h3>Departmental Store Management System</h3>
<p style="text-align:justify;" >	&nbsp &nbsp The application is designed for the owner and staff of the departmental store. There are different categories of products available in the store which are stored in respective tables of the database, There are 5 Product categories; Kitchenware, Beauty, Homecare, Stationery and Food Products. The table of products basically represents the Products available in the store. The staff is given various accesses, they can:</p>
<ul style="text-align:justify;" >
<li>Update the information regarding the product</li>
<li>Add the Product to the table, whenever a new product arrives</li>
<li>Delete the Product from the table and order the same when it is Out of Stock</li>
<li>Search for a particular product</li>
</ul>

<br>
<p style="text-align:justify;" >
&nbsp &nbsp A table is maintained for domain of works of the employees of departmental store, for example: security, cleaning, billing, stock management, etc, also database is maintained with association between the staff and their domain of work, also there is a provision to add name of a new employee whenever there is a new joinee. A table is maintained in database that contains the names of Loyalty Customers and the date they last visited. There is an option 'Order' available on Home Page for staff, to enter the product name into the list so as to place the order for the respective product. The list of offers along with their validity are entered into a table of database and same are displayed on the frontend, the staff can update the list anytime whenever they decide to present a new offer to the customers.</p>
</body>
</html>