<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>delete page</title>
	<style>
		h1{
			font-family: cursive;
			font-size: 24px;
		}
		input{
			size: 24px;
			font-family: cursive;
		}
		body{
			background-color: AntiqueWhite;
		}
	</style>
</head>
<body>

</body>
</html>
<div class="main">
	<form method="POST">
		{% csrf_token %}
		<h1>Staff name to be deleted?? If Yes, DELETE!!!</h1>

		<input type="submit" value="Yes, delete from table">
		<a href="/staff_pg">Cancel</a>
	</form>
</div>